In [22]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler

In [2]:
#remember to change this lol
all_data = pd.read_csv('../../2025_LoL_esports_match_data_from_OraclesElixir.csv')
all_data[:5]

C:\Users\jayde\AppData\Local\Temp\ipykernel_18488\3688914102.py:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  all_data = pd.read_csv('../../2025_LoL_esports_match_data_from_OraclesElixir.csv')

,gameid,datacompleteness,url,league,year,split,playoffs,date,game,patch,...,opp_csat25,golddiffat25,xpdiffat25,csdiffat25,killsat25,assistsat25,deathsat25,opp_killsat25,opp_assistsat25,opp_deathsat25
0,LOLTMNT03_179647,complete,NaN,LFL2,2025,Winter,0,2025-01-11 11:11:24,1,15.01,...,200.0,224.0,-1.0,17.0,1.0,1.0,2.0,2.0,4.0,2.0
1,LOLTMNT03_179647,complete,NaN,LFL2,2025,Winter,0,2025-01-11 11:11:24,1,15.01,...,157.0,-2363.0,-1444.0,-18.0,0.0,1.0,2.0,1.0,7.0,0.0
2,LOLTMNT03_179647,complete,NaN,LFL2,2025,Winter,0,2025-01-11 11:11:24,1,15.01,...,241.0,-1552.0,-2465.0,-41.0,1.0,0.0,2.0,1.0,5.0,1.0
3,LOLTMNT03_179647,complete,NaN,LFL2,2025,Winter,0,2025-01-11 11:11:24,1,15.01,...,257.0,-2613.0,-1156.0,-6.0,1.0,1.0,2.0,6.0,2.0,0.0
4,LOLTMNT03_179647,complete,NaN,LFL2,2025,Winter,0,2025-01-11 11:11:24,1,15.01,...,20.0,-662.0,-734.0,18.0,0.0,2.0,2.0,0.0,8.0,0.0

In [3]:
all_data['league'].unique()

array(['LFL2', 'LPL', 'LCKC', 'LVP SL', 'LCK', 'NLC', 'LCP', 'LEC', 'HLL',
       'PRM', 'LFL', 'LIT', 'TCL', 'HW', 'LJL', 'LTA S', 'LTA N', 'RL',
       'NEXO', 'CD', 'EBL', 'PCS', 'ROL', 'LPLOL', 'AL', 'LTA', 'VCS',
       'FST', 'EM', 'LRS', 'LRN', 'NACL', 'LAS', 'HC', 'PRMP', 'HM', 'CT',
       'Asia Master', 'MSI', 'EWC', 'WLDs', 'ASI', 'IC'], dtype=object)

In [4]:
#number of players in the major leagues
len(all_data[[True if l in ['LTA','LPL','LCK','LEC','LTA S', 'LTA N'] else False for l in all_data['league']]]['playername'].unique())

372

In [5]:
#number of games from major leagues 
len(all_data[[True if l in ['LTA','LPL','LCK','LEC','LTA S', 'LTA N'] else False for l in all_data['league']]]['gameid'].unique())

2141

# Filter data to only consider major leagues
The major leagues are LPL, LCK, LEC, LCP, LTA
(LTA is splitted to LTA N and LTA S, but we will consider them to be the same

In [6]:
major_league_data = all_data[all_data['league'].isin(['LTA','LPL','LCK','LEC','LTA S','LTA N'])]

#for standardizing we'll run this cell once to make major lague data df
#any permenant mutations to the df I reconment putting it here
#unless we aggregate data or testing 

major_league_data = major_league_data.copy()

#filter out 'team' role
major_league_data = major_league_data[major_league_data['position'] != 'team']


#making LTA just LTA
major_league_data['league'] = major_league_data['league'].replace({'LTA S': 'LTA', 'LTA N': 'LTA'})


major_league_data[:2]

,gameid,datacompleteness,url,league,year,split,playoffs,date,game,patch,...,opp_csat25,golddiffat25,xpdiffat25,csdiffat25,killsat25,assistsat25,deathsat25,opp_killsat25,opp_assistsat25,opp_deathsat25
48,11715-11715_game_1,partial,https://lpl.qq.com/es/stats.shtml?bmid=11715,LPL,2025,Split 1,0,2025-01-12 09:24:17,1,15.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,11715-11715_game_1,partial,https://lpl.qq.com/es/stats.shtml?bmid=11715,LPL,2025,Split 1,0,2025-01-12 09:24:17,1,15.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
len(major_league_data['champion'][major_league_data['position'] != 'team'].unique())

155

In [8]:
major_league_data['position'][major_league_data['position'] != 'team'].unique()

array(['top', 'jng', 'mid', 'bot', 'sup'], dtype=object)

In [9]:
for p in major_league_data['position'][major_league_data['position'] != 'team'].unique():
    print(p,len(major_league_data[major_league_data['position'] == p]['champion'].unique()))

top 65
jng 46
mid 60
bot 30
sup 45

In [10]:
group_by_player = major_league_data[major_league_data['position'] != 'team'].groupby('playername').count().reset_index()
len(group_by_player['playername'][group_by_player['position'] >= 5].unique())

358

In [11]:
group_by_player['playername'][group_by_player['position'] >= 100].unique()

array(['369', 'Aiming', 'Bdd', 'Beichuan', 'BeryL', 'Bin', 'Breathe',
       'Canyon', 'Care', 'Chovy', 'Clozer', 'Creme', 'Crisp', 'Cube',
       'Cuzz', 'Delight', 'Diable', 'Doinb', 'Doran', 'Duro', 'Elk',
       'Faker', 'Flandre', 'GALA', 'GIDEON', 'Hope', 'JackeyLove',
       'Jiejie', 'Jiwoo', 'Jwei', 'Kael', 'Kanavi', 'Karis', 'Kellin',
       'Keria', 'Kiin', 'Kingen', 'Knight', 'Leave', 'Lehends', 'Light',
       'Lucid', 'Meiko', 'Monki', 'Morgan', 'ON', 'Oner', 'Peanut',
       'Peyz', 'Pollu', 'Raptor', 'Rookie', 'Ruler', 'Scout', 'Shad0w',
       'Shanks', 'ShowMaker', 'Siwoo', 'Taeyoon', 'Tarzan', 'TheShy',
       'Tian', 'Vampire', 'Viper', 'Xiaohu', 'Xun', 'Zeka', 'Zeus',
       'deokdam', 'sheer'], dtype=object)

In [12]:
group_by_player['position'].mean()

np.float64(57.7088948787062)

In [13]:
group_by_player

,playername,gameid,datacompleteness,url,league,year,split,playoffs,date,game,...,opp_csat25,golddiffat25,xpdiffat25,csdiffat25,killsat25,assistsat25,deathsat25,opp_killsat25,opp_assistsat25,opp_deathsat25
0,113,38,38,0,38,38,38,38,38,38,...,38,38,38,38,38,38,38,38,38,38
1,1Jiang,70,70,70,70,70,70,70,70,70,...,0,0,0,0,0,0,0,0,0,0
2,1xn,98,98,98,98,98,98,98,98,98,...,0,0,0,0,0,0,0,0,0,0
3,369,152,152,152,152,152,152,152,152,152,...,0,0,0,0,0,0,0,0,0,0
4,5t5,5,5,5,5,5,5,5,5,5,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
366,tinowns,38,38,0,38,38,36,38,38,38,...,38,38,38,38,38,38,38,38,38,38
367,vital,4,4,0,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
368,xiaofang,29,29,29,29,29,29,29,29,29,...,0,0,0,0,0,0,0,0,0,0
369,xiaohuangren,24,24,24,24,24,24,24,24,24,...,0,0,0,0,0,0,0,0,0,0
370,xqw,62,62,62,62,62,62,62,62,62,...,0,0,0,0,0,0,0,0,0,0

# Brainstorm


## predict region
    from player performance
        data: player seasonal average
            each player will get a row

    from end of game data *****
        data: games
            each game will get a row



## predict player name
    from player stats

    for players that played more than n number of games



## predict position
    from player stats

# Predict player league

### data origin
https://oracleselixir.com/tools/downloads
https://oracleselixir.com/definitions

https://drive.google.com/drive/u/0/folders/1gLSw0RLjBbtaNy0dgnGQDAZOHIgCe-HH

In [14]:
major_league_data[:2]

,gameid,datacompleteness,url,league,year,split,playoffs,date,game,patch,...,opp_csat25,golddiffat25,xpdiffat25,csdiffat25,killsat25,assistsat25,deathsat25,opp_killsat25,opp_assistsat25,opp_deathsat25
48,11715-11715_game_1,partial,https://lpl.qq.com/es/stats.shtml?bmid=11715,LPL,2025,Split 1,0,2025-01-12 09:24:17,1,15.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,11715-11715_game_1,partial,https://lpl.qq.com/es/stats.shtml?bmid=11715,LPL,2025,Split 1,0,2025-01-12 09:24:17,1,15.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# we might need to combine LTA S, LTA N and LTA to just LTA
leagues = ['LPL', 'LCK', 'LEC', 'LTA', 'LCP']

In [16]:
### potential columns
y_cols = 'league'

X_cols = ['position', 'champion', 'kills', 'deaths', 'assists', 'team kpm', 'ckpm', 
    'damagetochampions', 'dpm', 'damageshare', 'damagetakenperminute',
    'wardsplaced', 'wpm', 'wardskilled', 'wcpm', 'controlwardsbought','earnedgold',
    'earned gpm', 'earnedgoldshare', 'total cs', 'minionkills', 'monsterkills', 'monsterkillsownjungle',
    'monsterkillsenemyjungle', 'goldat15', 'xpat15', 'csat15','golddiffat15', 'xpdiffat15', 'csdiffat15',
    'killsat15', 'assistsat15', 'deathsat15', 'goldat25', 'xpat25', 'csat25','golddiffat25', 'xpdiffat25', 'csdiffat25',
    'killsat25', 'assistsat25', 'deathsat25']

In [17]:
major_league_data['position'].unique()

array(['top', 'jng', 'mid', 'bot', 'sup'], dtype=object)

In [19]:
major_league_data = major_league_data[X_cols + [y_cols]]

In [20]:
#create train and test set
train_df, test_df = train_test_split(
    major_league_data,
    test_size=0.2,
    random_state=42,
    shuffle=True
)

#split and store into a dictionary that has position as keys
positions = ['top', 'jng', 'mid', 'bot', 'sup']

train_by_position = {
    pos: train_df[train_df['position'] == pos].copy()
    for pos in positions
}

test_by_position = {
    pos: test_df[test_df['position'] == pos].copy()
    for pos in positions
}

for pos in positions:
    print(pos, len(train_by_position[pos]), len(test_by_position[pos]))

top 3404 878
jng 3450 832
mid 3411 871
bot 3399 883
sup 3464 818

In [ ]:
#non split, baseline?

### Random Baseline

In [24]:
leagues = ['LPL', 'LCK', 'LEC', 'LTA', 'LCP']

y_pred_random = np.random.choice(leagues, size=len(test_df))
y_true = test_df['league']
baseline_accuracy = accuracy_score(y_true, y_pred_random)

print("Random baseline accuracy:", baseline_accuracy)

Random baseline accuracy: 0.20224194301728166

### KNN Baseline

In [ ]:
X_train_knn = train_df[X_cols]
y_train_knn = train_df[y_cols]

X_test_knn = test_df[X_cols]
y_test_knn = test_df[y_cols]